<h1>Get textBox value in angular</h1>
<input type="text" (keyup)="getVal($event.target.value)" />
<input type="text" #box />
<button (click)="getVal(box.value)">Get Value</button>
<h2>{{ currentVal }}</h2>
<br />
<h1>Proerty binding in angular</h1>
<input type="text" [disabled]="disabledBox" [value]="name" />
<br /><br />
<input type="text" disabled="{{ disabledBox }}" value="{{ name }}" />
<br /><br />
<button (click)="enableBox()">Enable TextBox</button>
<br /><br />
<h1>Condition in Angular</h1>
<!-- <h1 *ngIf="show=='yes' then ifBlock else elseBlock">
    
</h1>
<ng-template #ifBlock>
    <h1>if block</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>else block</h1>
</ng-template> -->

<ng-template [ngIf]="show == 'red'">
  <h1>red block</h1>
</ng-template>
<ng-template [ngIf]="show == 'green'">
  <h1>green block</h1>
</ng-template>
<ng-template [ngIf]="show == 'blue'">
  <h1>blue block</h1>
</ng-template>
