<h1>Get textBox value in angular</h1>
<input type="text" (keyup)="getVal($event.target.value)" />
<input type="text" #box />
<button (click)="getVal(box.value)">Get Value</button>
<h2>{{ currentVal }}</h2>
<br />
<h1>Proerty binding in angular</h1>
<input type="text" [disabled]="disabledBox" [value]="name" />
<br /><br />
<input type="text" disabled="{{ disabledBox }}" value="{{ name }}" />
<br /><br />
<button (click)="enableBox()">Enable TextBox</button>
<br /><br />
<h1>Condition in Angular</h1>
<!-- <h1 *ngIf="show=='yes' then ifBlock else elseBlock">
    
</h1>
<ng-template #ifBlock>
    <h1>if block</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>else block</h1>
</ng-template> -->

<ng-template [ngIf]="show == 'red'">
  <h1>red block</h1>
</ng-template>
<ng-template [ngIf]="show == 'green'">
  <h1>green block</h1>
</ng-template>
<ng-template [ngIf]="show == 'blue'">
  <h1>blue block</h1>
</ng-template>
<!-- 
<h1>Swicth case in angular</h1>
<div [ngSwitch]="color">
  <h2 style="color: red" *ngSwitchCase="'red'">red color</h2>
  <h2 style="color: green" *ngSwitchCase="'green'">green color</h2>
  <h2 style="color: blue" *ngSwitchCase="'blue'">blue color</h2>
  <h2 style="color: yellow" *ngSwitchCase="'yellow'">yellowk color</h2>
  <h2 *ngSwitchDefault>default color</h2>
</div>

<h1>For Loop in Angular</h1>
<h4 *ngFor="let item of data">
  {{ item }}
</h4>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let item of dataObj">
    <td>{{ item.name }}</td>
    <td>{{ item.age }}</td>
  </tr>
</table> -->
<h1>Simple Form in angular</h1>
<form #simpleForm="ngForm" (ngSubmit)="getFormValues(simpleForm.value)">
    <input type="text" ngModel name="userName" placeholder="Enter User Name"/>
    <br><br>
    <input type="text" ngModel name="age" placeholder="Enter Age"/>
    <br><br>
    <input type="text" ngModel name="address" placeholder="Enter User Address"/>
    <br><br>
    <button>Get User Values</button>
</form>